@import "bootstrap/bootstrap";

li.social {
    filter: invert(60%);
}

/* Default height for small devices */
#hero {
    height: 400px;
    background-image: url('/hero.jpg');
    background-size: cover;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #hero {
        height: 600px;
    }
}

.content {
    margin: auto;
    min-height: 100%;
}

.content h1 {
    padding-bottom: 1.4em;
}

.content h2 {
    padding-bottom: 1.1em;
}

.content p {
    line-height: 1.625;
    margin-bottom: 1.625em;
}
