@import "bootstrap/bootstrap";

li.social {
    filter: invert(60%);
}

#instagram {
    padding-right: 0;
}

.i18n-inactive {
    filter: grayscale(50%);
}

.content {
    margin: auto;
    min-height: 100%;
}

.content h1 {
    padding-bottom: 1.4em;
}

.content h2 {
    padding-bottom: 1.1em;
}

.content p {
    line-height: 1.625;
    margin-bottom: 1.625em;
}
