<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
            <img src="/logos/white.png" alt="" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="navbar-item">
                    {{ $currentLang := .Language }}
                    {{ range .AllTranslations }}
                        {{ if ne $currentLang.Lang .Language.Lang }}
                        <a href="{{ .Permalink }}" class=nav-link>
                        {{ end }}
                    {{ end }}
                    {{if eq .Language.Lang "en"}}
                    <img src="/i18n/pt_flag.png" title="Portuguese" alt="Portuguese" width="20" height="20">
                    {{- else -}}
                    <img src="/i18n/uk_flag.png" title="English" alt="English" width="20" height="20">
                    {{- end -}}
                    </a>
                </li>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="navbar-item">
                    <a class="nav-link {{if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" {{if $currentPage.IsMenuCurrent "main" . }}aria-current="page"{{ end }} href="{{.URL}}">{{.Name}}</a>
                </li>
                {{ end }}
                <li class="navbar-item social"><a class=nav-link href="https://www.facebook.com/guitarrehab.lisbon/" target="blank"><img src="/social/facebook.png" title="Facebook" alt="Facebook" width="20" height="20"></a></li>
                <li class="navbar-item social"><a class=nav-link href="https://www.instagram.com/guitarrehablisbon/" target="blank"><img src="/social/instagram.png" title="Instagram" alt="Instagram" width="20" height="20"></a></li>
            </ul>
        </div>
    </div>

</nav>
